*.idea/
db.sqlite3
.DS_Store
db.sqlite3.journal
*.pyc
python/
*.log
.coverage
nosetests.xml
celerybeat-schedule
tmpfile
media/*
cache/*
!.vc
*~
*journal
staticfiles/
newrelic.ini
celerybeat-schedule.db
celerybeat.pid
staticfiles/*
!.vc
youtube_caption.py
data.json
db.sqlite
temp_scripts.py
.vagrant
test_format.yml
private.py